// @use 'bootstrap/scss/bootstrap';
// @use 'bootstrap-icons/font/bootstrap-icons.css';
@use 'base/reset';
@use 'components/preheader';
@use 'components/header';
@use 'components/searchbox';
@use 'components/navbar';
@use 'components/offer';
@use 'components/features';
@use 'components/category_slider';
@use 'components/product_slider';
@use 'components/subscription-bar';
@use 'components/footer';
@use 'vendors/owl/owl.carousel';




.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

// html{
//     background-image: url(../img/Главная.png);
//     background-position: center;
// }







// /* feature */

// /* Auto layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 0px;
// gap: 12px;

// width: 300px;
// height: 135px;


// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

