
$primary-color: #F3F6F9;
$secondary-color: #242424;
$accent-color: #B71B34;
$card-border: #d1d3da;
$subsc-input-border: #E0E1E7;

$mobile-bp: 810px;
$desktop-bp: 992px;


$breakpoints: (
  sm: 810px,
);