@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.feature-container{
    background-color: v.$primary-color;
    margin-bottom: 90px;
    .features{
        // display: flex;
        width: 100%; 
        // justify-content: space-between;
        .feature--list{
            display: flex;
            margin: 0 auto;
            max-width: 1920px;
            list-style: none;
            padding: 60px 4rem;
            gap: 12px;
            .feature{
                display: flex;
                gap: 12px;
                padding: 0;
                flex: 1;
                .feature--icon{
                    align-self: flex-start;
                }
                .feature--content{
                    display: flex;
                    flex-direction: column;
                    .feature--header{
                        align-self: flex-start;
                        font-weight: 500;
                        font-size: 20px;
                        margin: 0px;
                    }
                    .feature--description{
                        font-weight: 300;
                        line-height: 1.6;
                        font-size: 16px;
                        line-height: 160%;
                    }
                }
            }
        }
    }
    @media(max-width: v.$mobile-bp) {
        display: none;
    }
}