.features{
    margin: 0 -10rem;
    background-color: #F3F6F9;
    &__list{
        display: flex;
        list-style: none;
        padding: 60px 10rem;
        gap: 12px;
        .feature{
            display: flex;
            gap: 12px;
            padding: 0;
            flex: 1;
            &__icon{
                align-self: flex-start;
            }
            &__content{
                display: flex;
                flex-direction: column;
                .feature--header{
                    align-self: flex-start;
                    font-weight: 500;
                    font-size: 20px;
                    margin: 0px;
                }
                &__description{
                    font-weight: 300;
                    line-height: 1.6;
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }
    }
}