@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.product-slider{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
    &__header{
        margin: 0 0 30px 4rem;
    }
    .owl-carousel{
        .product-item{
            display: flex;
            flex-direction: column;
            border: 1px solid v.$card-border;
            padding: 20px;
            .product-image{
                width: 100%;
                height: 250px;
                object-fit: contain;
                margin-bottom: 15px;
            }
            .product-data{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .product-is-available{
                    display: flex;
                    font-size: 12px;
                    font-weight: 500;
                    gap: 5px;
                }
            }
            .product-name{
                flex:0 0 4rem;
                line-height: 1.3;
            }
            .product-price{
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .product-buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .catalog-button{
                    padding: 9px 41px;
                    background-color: v.$accent-color;
                    color: #FFFFFF;
                    border: none;
                    font-weight: 700;
                    font-size: 20px;
                    width: 50%;
                }
                .right-buttons{
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }
}