@use '../utils/variables' as v;
@use '../utils/mixins' as m;


.product-slider{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
    @media (max-width: v.$mobile-bp) {
        margin-bottom: 30px;
    }
    &__header{
        margin: 0 0 30px 4rem;
        @media (max-width: v.$mobile-bp) {
            margin: 0 0 30px 1rem;
        }
    }
}